a.active {
    color: white;
    background-color: black;
  }

  a {
    color: black
  }
  a:visited {
    color: gray;
  }
  a:active {
    background-color: blue;
  }
  a:hover {
    color:red;
  }